<div {% if class %}class="{{class}}"{% endif %}>
    <iframe
        src="https://www.youtube.com/embed/{{id}}{% if autoplay %}?autoplay=1{% endif %}"
        webkitallowfullscreen
        mozallowfullscreen
        allowfullscreen>
    </iframe>
</div>

<blockquote class="twitter-tweet" data-lang="en">
    <p lang="en" dir="ltr">
      You, sobbing: You can&#39;t just point at every data structure and call it a graph.<br>Me:<br>- Linked List - Graph<br>- Trie - Graph<br>- Skip List - Graph<br>- Heap - Graph<br>- HashMap - Graph
    </p>
    &mdash; Michael Gattozzi (@mgattozzi)
    <a href="https://twitter.com/mgattozzi/status/960607169375850496?ref_src=twsrc%5Etfw">February 5, 2018</a></blockquote>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<iframe
  scrolling="no"
  allowtransparency="true"
  allowfullscreen="true"
  class="twitter-tweet twitter-tweet-rendered"
  style="position: static; visibility: visible; display: block; width: 400px; height: 626.533px; padding: 0px; border: medium none; max-width: 100%; min-width: 220px; margin-top: 10px; margin-bottom: 10px;"
  data-tweet-id="652174303283277825"
  title="Twitter Tweet"
  frameborder="0"></iframe>
