<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yoshua Wuyts — Blog</title>
  <link rel="stylesheet" href="{{ get_url(path="tachyons.css", trailing_slash=false) | safe }}">
  <link rel="stylesheet" href="{{ get_url(path="fonts.css", trailing_slash=false) | safe }}">
  <link rel="stylesheet" href="{{ get_url(path="markdown.css", trailing_slash=false) | safe }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@yoshuawuyts">
  <meta name="twitter:creator" content="@yoshuawuyts">
  <meta name="twitter:title" content="Yoshua Wuyts — Blog">
  <!-- <meta name="twitter:description" content="Yoshua Wuyts's blog"> -->
  <meta name="twitter:image" content="{{ get_url(path="twitter-card.png", trailing_slash=false) | safe }}">
  <!-- <link rel="preload" as="font" crossorigin href="{{ get_url(path="inter-regular.woff2", trailing_slash=false) | safe }}"> -->
  <!-- <link rel="preload" as="font" crossorigin href="{{ get_url(path="inter-italic.woff2", trailing_slash=false) | safe }}"> -->
  <!-- <link rel="preload" as="font" crossorigin href="{{ get_url(path="inter-bold.woff2", trailing_slash=false) | safe }}"> -->
  {% if config.generate_rss %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ get_url(path="rss.xml") | safe }}">
  {% endif %}
<head>
<body class="ph3 ph4-ns sans pb3 pb4-ns">
  <nav class="flex justify-between mw9 w-100">
    <h1 class="mt3 mt4-ns mb0 ttu b f1 f-subheadline-l">
      Yoshua Wuyts
    </h1>
    {% block content %}
    <a href="https://yoshuawuyts.com" class="black link b f1 f-subheadline-l ml2
    mt3 mt4-ns">
      ←
    </a>
  </nav>
  {% for page in paginator.pages | reverse %}
    <section itemprop="name" class="mt4 mb0">
      <a class="f1 f-subheadline-l link black underline ttu b"
        href="{{ page.permalink | safe }}">
        {{ page.title }}
      </a>
    </section>
  {% endfor %}
  <section itemprop="name" class="mt4 mb0">
    <a class="f1 f-subheadline-l link black underline ttu b"
      href="{{ get_url(path="rss.xml") | safe }}" target="_blank">
      RSS Feed
    </a>
  </section>
  {% endblock content %}
<body>
