{% extends "index.html" %}

{% block content %}
    <a href="{{ get_url(path="/", trailing_slash=false) | safe }}"
       class="black link b f1 f-subheadline-l ml2 mt3 mt4-ns">
      ←
    </a>
  </nav>
  <article class="mt3 mt5-ns lh-copy flex flex-column">
    <div itemprop="articleBody" class="mw6 mw7-l self-center-l" id="markdown">
      <h1 itemprop="headline" class="ttu f2 f1-ns b mt0 mb3 mb4-ns">
        {{ page.title }}<br/>— {{ page.date }}
      </h1>
      {{ page.content | safe }}
    </div>
  </article>
{% endblock content %}
